@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Joe's Pizza</h1>
    <h3>What would you like to have?</h3><br />
    <h4>Menu</h4>
    <div class="container">
        <div class="row">
            <div class=" mx-auto d-block">
                <table class="table">
                    <tr>
                        <th>S. No.</th>
                        <th>Item</th>
                        <th>Decription</th>
                        <th>Large (14 inch)</th>
                        <th>Medium (12 inch)</th>
                        <th>Small (10 inch)</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Cheese Burst Pizza</td>
                        <td>Thin crust, tomato sauce base with Cheddar and mozzarella cheese</td>
                        <td>750</td>
                        <td>680</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Peperoni Pizza</td>
                        <td>Thin crust, tomato sauce base, mozzarella cheese and slices of perpperoni sausages</td>
                        <td>799</td>
                        <td>650</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Farm House Pizza</td>
                        <td>Thin crust, mozzarella cheese, tomato sauce base with capsicums, corn and mushrooms</td>
                        <td>880</td>
                        <td>680</td>
                        <td>300</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Veg Pizza</td>
                        <td>Thin crust, mozzarella cheese, tomato sauce base with veggies available in season</td>
                        <td>540</td>
                        <td>-</td>
                        <td>200</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Corn Pizza</td>
                        <td>Thin crust, mozzarella cheese, tomato sauce base with corn</td>
                        <td>-</td>
                        <td>300</td>
                        <td>200</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
